{% extends "layout.twig" %}

{% block title %}Game{% endblock %}

{% block js %}
<script type="text/javascript">
  const gameName = "{{ gameName }}"
</script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/static/js/warnings.js"></script>
<script type="text/javascript" src="/static/js/canvas_cards.js"></script>
<script type="text/javascript" src="/static/js/canvas.js"></script>
<script type="text/javascript" src="/static/js/cardinfo.js"></script>
<script type="text/javascript" src="/static/js/screen/game.js"></script>
{% endblock %}

{% block main %}
<div class="game-layout">
  <div class="game-header">
    <h1>playing Game {{ gameName }}: <span id="turn-player"></span>'s turn</h1>
  </div>
  <div id="game-table">
    <canvas id="game-canvas"></canvas>
  </div>
  <div class="game-scoreboard">
    <h2>Players</h2>
    <ul id="scoreboard"></ul>
  </div>
  <div class="game-misc">
    Current card:<br><br>
    <img src="/static/imgs/cards/0.png" style="height: 150px; float: left; margin-right: 16px;" id="card-img">
    <span id="card-info">No card is selected.</span>
    <div style="clear: both; margin-bottom: 16px;"></div>
    <div id="warning-box">This is a test warning.</div>
  </div>
</div>
{% endblock %}