html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.game-layout {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 64px 250px auto;
  grid-template-columns: 70% auto;
}

.game-header {
  position: fixed;
  width: 100%;
  height: 64px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  z-index: 1;
  background-color: $primary-color;
  color: white;
  h1 {
    text-align: center;
    margin-top: 0;
    line-height: 64px;
  }
}

.game-row {
  padding-top: 64px;
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

.game-sideboard {
  border-left: 2px solid #666;
  width: 30%;
}

#game-table {
  flex-grow: 1;
}

#game-canvas {
  position: fixed;
  top: 64px;
  left: 0;
  margin: 4px 0 0 4px;
}

.game-scoreboard {
  padding: 0 16px;
}

.game-misc {
  padding: 24px;
}

#scoreboard {
  list-style: none;
  padding: 0;
  li {
    padding: 12px;
    position: relative;
    padding-left: 42px;
    &.turn {
      font-weight: bold;
    }
    &:not(:first-child) {
      border-top: 1px solid #aaa;
    }
    border-right: 8px solid #3b3;
    &.team-b {
      border-right: 8px solid #b33;
    }
    &:nth-child(1) {
      background-color: #f2dcfb;
    }
    &:nth-child(2) {
      background-color: #d3d3f3;
    }
    &:nth-child(3) {
      background-color: #fff6d5;
    }
    &:nth-child(4) {
      background-color: #cfffcd;
    }
  }
  .color-marker {
    position: absolute;
    left: 12px;
    top: 12px;
    bottom: 12px;
    width: 18px;
    border-radius: 17px;
    &.connected {
      background: green;
    }
    &.disconnected {
      background: red;
    }
  }
}

#warning-box {
  background: $warning-color;
  padding: 16px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.2s ease-out;
  &.visible {
    opacity: 1;
  }
}

#loadgame-popup {
  display: none;
  &.visible {
    display: block;
  }
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: rgba(0,0,0,0.2);
  #loadgame-modal {
    z-index: 10000;
    position: fixed;
    background: white;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    padding: 16px;
    height: 200px;
    margin-top: -100px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 4px;
    .buttons {
      position: absolute;
      bottom: 16px;
      right: 16px;
      left: 16px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
    }
  }
}