@keyframes setup-player-color-scale {
  0%   {transform: scale(0.9);}
  50%  {transform: scale(1.1);}
  100% {transform: scale(0.9);}
}

#setup-player-list {
  list-style: none;
  padding: 0;
  li {
    cursor: pointer;
    padding: 12px;
    padding-left: 42px;
    position: relative;
    color: green;
    &.team-b {
      color: red;
    }
    &:hover {
      background: #ccc;
    }
    &:not(:first-child) {
      border-top: 1px solid #aaa;
    }
    .color-marker {
      position: absolute;
      left: 12px;
      top: 12px;
      bottom: 12px;
      width: 18px;
      border-radius: 17px;
      animation: setup-player-color-scale 2s infinite;
      &.connected {
        background: green;
      }
      &.disconnected {
        background: red;
      }
    }
  }
  .remove-player-btn {
    float: right;
    margin-top: -4px;
    padding: 4px 8px;
    border-radius: 20px;
  }
}

#loadgame-info {
  display: none;
  &.visible {
    display: block;
  }
}