$primary-color: #6622cc;
$warning-color: #ff9966;


@import "buttons";
@import "setup";
@import "game";
@import "remote";

* {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  font-size: 16px;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
}

.centered {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  padding: 16px;
}

.center {
  text-align: center;
}

fieldset {
  border: 1px solid rgba(0,0,0,0.3);
}

a {
  color: $primary-color;
  &:visited {
    color: $primary-color;
  }
}