{% extends "layout.twig" %}

{% block title %}Set up{% endblock %}

{% block js %}
<script type="text/javascript">
  const gameName = "{{ gameName }}"
</script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/static/js/main/setup.js"></script>
{% endblock %}

{% block main %}
<div class="centered">
  <h1 class="center">Waiting for players</h1>
  <p class="center">
    Use your mobile device to join this game:
  </p>
  <h2 class="center" style="font-family: monospace;">{{ gameName }}</h2>
  <div id="loadgame-info">
    <hr>
    You have a saved game, if you want to continue playing, these players must join in: <pre id="loadgame-playernames"></pre>
    <hr>
  </div>
  <p>Players: <b id="connected-players">0</b></p>
  <p>Click players to switch their team. Each team needs 2 players.</p>
  <ul id="setup-player-list"></ul>
  <div class="center">
    <form method="post" action="/main/start_game">
      <input type="hidden" name="gameName" value="{{ gameName }}" />
      <input type="hidden" name="player1" id="inp-p1" value="">
      <input type="hidden" name="player2" id="inp-p2" value="">
      <input type="hidden" name="player3" id="inp-p3" value="">
      <input type="hidden" name="player4" id="inp-p4" value="">
      <button type="submit" class="big primary center" id="start-button" disabled>Start Game!</button>
    </form>
  </div>
</div>
{% endblock %}