{% extends "layout.twig" %}

{% block title %}Remote{% endblock %}

{% block js %}
<script type="text/javascript">
  const gameName = "{{ gameName }}"
  const userName = "{{ userName }}"
</script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/static/js/remote/game.js"></script>
{% endblock %}

{% block main %}
<div class="game-header-remote">
  <h1>{{ gameName }}: {{ userName }}</h1>
</div>
<br><br>
<div id="waiting">
  Waiting for data...
</div>
<div id="main" style="display: none">
  <div id="swap-info" style="text-align: center;">Pick a card to give to your teammate:<br><br></div>
  <div class="remote-card-container" id="card-container-0"><img src="" class="remote-card" id="card-0"></div>
  <div class="remote-card-container" id="card-container-1"><img src="" class="remote-card" id="card-1"></div>
  <div class="remote-card-container" id="card-container-2"><img src="" class="remote-card" id="card-2"></div>
  <div class="remote-card-container" id="card-container-3"><img src="" class="remote-card" id="card-3"></div>
  <div class="remote-card-container" id="card-container-4"><img src="" class="remote-card" id="card-4"></div>
</div>
{% endblock %}